/* Landscape phones and down */
@media (max-width: 599px) {

  .header {
    .section-nav/*, .social-media-icons, .dropdown-toggle .active-lang */ {
      
    }
  }

  .panel {
    width: 90%;
    padding-top: 10%;

    .panel-title {
      font-size: 30px;
    }

    .panel-title,
    .panel-text {
      margin: 0 5% 15px;
    }

    .panel-text {
      font-size: 18px;
    }

    .panel-subtitle {
      font-size: 20px;
      margin: 70px 0 0;
    }

    .form-title {
      font-size: 13px;
      margin: 0 0 10px;
    }

    .input-xlarge {
      width: 200px;
    }


    .os-select {
      padding: 0 10% 0;

      li {
        display: block;
        padding-bottom: 10px;
      }
    } // end .os-select
  } // end .panel

} // end @media (max-width: 480px)


/* Landscape phone to portrait tablet */
@media (min-width: 600px)  {
  .panel {
    width: 50%;

    .panel-title {
      font-size: 48px;
    }

    .panel-text {
      font-size: 22px;
    }

    .os-select {

      li {
        width: 40%;
        text-align: left;
        padding-bottom: 10px;

        .extra-info {
          font-size: 14px;
        }
      }
    }
  } // end .panel

  .data-list {

    li {
      display: inline-block;
      vertical-align: middle;
    }

    .first:after {
      content: '\2022';
      padding: 0 7px;
      color: #9f9f9f;
      font-size: 1.2em;
      position: relative;
      top: 2px;
    }
  }

} // end @media (min-width: 600px)

@media (min-width: 720px)  {
  .section.watch {
    
  }
}

@media (min-width: 1030px)  {

  .section.watch {
      
  }

  .panel {
    .os-select {
      li {
        width: auto;
        text-align: center;
      }

      .extra-info {
        display: block;
        font-size: 14px;
        padding: 10px 0 0 30px;
      }
    }
  }

} // end @media (min-width: 1030px)
