.download {
    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0.5, #36444E),
        color-stop(1, #131F28)
    );
    background-image: -o-linear-gradient(left, #36444E 50%, #131F28 100%);
    background-image: -moz-linear-gradient(left, #36444E 50%, #131F28 100%);
    background-image: -webkit-linear-gradient(left, #36444E 50%, #131F28 100%);
    background-image: -ms-linear-gradient(left, #36444E 50%, #131F28 100%);
    background-image: linear-gradient(to left, #36444E 50%, #131F28 100%);
    /* fallback */
    background-color: #26323b;
    color: #ffffff;
    @media screen and (min-width: $break-small) {
        padding-bottom: 60px;
    }
    .download-text {
        *[dir=ltr] & {
            float: left;
            margin-left: 6%;
        }
        *[dir=rtl] & {
            float: right;
            margin-right: 6%;
        }
        width: 25%;
        font-family: AvenirNextLTPro-MediumCn;
        @media screen and (max-width: 1100px) {
            float: none;
            width: 90%;
            margin: 0 auto;
        }
        h3 {
            margin: 80px 0 10px 0;
            color: $lnt-yellow;
            text-transform: uppercase;
            font-family: AvenirNextLTPro-DemiCn;
            font-size: 2em;
            @media screen and (max-width: 1100px) {
                text-align: center;
                margin: 30px 0;
            }
        }
        p {
            margin-bottom: 10px;
            font-size: 1.5em;
            @media screen and (max-width: 1100px) {
                padding: 0 15px;
                &:first-of-type {
                    margin-top: 20px;
                }
            }
            @media screen and (max-width: $break-small) {
                padding: 5px;
            }
        }
    }
    
    .video-panel {
        *[dir=rtl] & {
            float: left;    
        }
        *[dir=ltr] & {
            float: right;
        }
        position: relative;
        width: 65%;
        text-align: center;
        color: #fff;
        @media screen and (max-width: 1100px) {
            width: 90%;
            margin: 0 auto;
            *[dir=rtl] & {
                float: none;    
            }
            *[dir=ltr] & {
                float: none;
            }
        }
        
        h4 {
            font-weight: 300;
        }
        
        .video-snapshot {
            -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
            cursor: pointer;
            width: 100%;
            &:hover + .play-button {
                opacity: 1.0;
            }
            @media screen and (max-width: $break-small) {
                margin-top: 0;
            }
        }
        
        .play-button {
            $wdth: 86px;
            $hght: 61px;
            width: $wdth;
            height: $hght;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -$hght / 2.0;
            margin-left: -$wdth / 2.0;
            cursor: pointer;
            @media screen and (max-width: $break-small) {
                top: 32%;
            }
            
            html.no-touch & {
                @include single-transition(opacity, .5s);
                opacity: 0.8;
                &:hover {
                    opacity: 1.0;
                }
            }
        }
    }
}