.faq {
    background-color: #122430;
    position: relative;
    z-index: 1;
    h3 {
        color: #fff;
        font-size: 30px;
        letter-spacing:5px;
        font-family: LBR;
        margin: 0 6% 20px 6%;
        text-transform: uppercase;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 30px;
        font-wieght: bold;
    }
    #faq {
        padding: 50px 0 25px;
        @media screen and (max-width: $break-small) {
            padding-top: 25px;
        }
        .more_questions {
            li {
                &:first-child {
                    //border-top: 1px solid #7f9e99;
                }
            }
        }
        ul {
            background: #233948;
            margin: 0 6%;
            padding: 0;
            li {
                padding: 10px 20px;
                position: relative;
                color: #fff;
                &:last-child {
                    border-bottom: none;
                }
    
                .faq-item, .expander {
                    float: left;
                    *[dir=rtl] & {
                        float: right;
                    }
                }
    
                .expander {
                    *[dir=ltr] & {
                      margin-right: 10px;
                    }
                    *[dir=rtl] & {
                      margin-left: 10px;
                    }
                    display:block;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    background: transparent;
                    color: #7f9e99;
                    border: none;
                    border-radius: 5px;
                    font-size: 30px;
                    font-weight: bold;
                    &:focus {
                        outline: 0;
                    }
                }   
    
                .faq-item {
                    width: 92%;
                    float: left;
                    font-family: LBL;
                    font-size: 13px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    @media screen and (max-width: 850px) {
                        width: 90%;
                    }
                    @media screen and (max-width: $break-small) {
                        width: 85%;
                    }   
                    @media screen and (max-width: 450px) {
                        width: 78%;
                    }
                    a {
                        color: #ffffff;
                        &:hover {
                            text-decoration: none;
                        }
                        h4 {
                            font-family: LB;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-size: 1.8em;
                            margin-bottom: 15px;
                            @media screen and (max-width: $break-small) {
                                width: 85%;
                                display: inline-block;
                            }
                        }
                    }
                    a:hover {
                        color: #dfd323;
                    }
                    .faq-answer {
                        font-size: 1.5em;
                        p {
                            width: 100%;
                            color: #fff;
                        }
                        a {
                            color: #7f9e99;
                        }
                        b {
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                        }
                    }
                    .input-group {
                        *[dir=rtl] & {
                            direction: ltr;
                        }
                    }
    
                    .faq-permalink {
                        color: #ccc;
                        margin-left: 10px;
                        &:hover {
                            color: #aaa;
                        }
                        @media screen and (max-width: $break-small) {
                            float: right;
                            width: 15px;
                            display: inline-block;
                        }
                    }
                }

                h4 {
                    display: inline-block;
                }
            }
        }
    }
    .faq-link {
        display: block;
        margin: 8px 6%;
        font-family: 'AvenirNextLTPro-MediumCn';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 22px;
        text-align: center;
        color: #7f9e99;
        position: relative;
        z-index: 3;
        @include single-transition(color, .3s);
        &:hover {
            text-decoration: none;
            color: lighten(#7f9e99, 15%);
        }
    }
}
