@import "compass/layout/sticky-footer";
@include sticky-footer("#content-container");

#footer {
    background-color: #10283a;
    color: #626262;
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 15px 10px;
        h5 {
            text-transform: uppercase;
            float: left;
            *[dir=rtl] & {
                float: right;
                margin-left: 8px;
            }
            color: #ffffff;
            margin-right: 8px;
            font-family: 'AvenirNextLTPro-MediumCn';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 1.3em;
            margin-top: 12px;
            @media screen and (max-width: 875px) {
                float: none;
                margin-bottom: 0;
            }
        }
        .input-group {
            border: 2px solid #1e2a33;
            input {
                border-radius: 0;
                font-size: 1.1em;
            }
            .input-group-btn input{
                background-color: #1e2a33;
                color: #6c7477;
                height: 34px;
                &:disabled {
                    background-color: darken(#1e2a33, 20%);
                }
            }
        }
    }

    nav {
        position: relative;
        z-index: 3;
        padding: 10px;
        a {
            @include single-transition(color, .3s);
            color: #aaa;
            font-size: 1.5em;
            padding: 0 15px;
            font-family: 'AvenirNextLTPro-MediumCn';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            &:hover {
                text-decoration: none;  
                color: #ddd;
            }
            @media screen and (max-width: $break-small) {
                padding: 0 4px;
            }
        }
    }

    .navlink-list {
        @include inline-list;
        &.lang-list > li {
            padding: 0 5px;
        }
        &.lang-list, &.lang-list a {
            font-size: 13px;
            &.active-lang {
                font-weight: bold;
            }
        }
    }
}   

.footer-logo {
    padding: 30px 0;
    img {
        width: 500px;
        margin-top: -6%;
        margin-bottom: 40px;
        @media screen and (max-width: $break-small) {
            width: 100;
        }
    }
}

.copyright {
    padding-bottom: 50px;
    p {
        margin-bottom: 3px; 
    }
    a { 
        @include single-transition(color, .5s);
        color: #aaa; 
    }
    a:hover {
        text-decoration: none;
        color: #ddd;
    }
}
