@import "compass/layout/sticky-footer";
@include sticky-footer($footerHeight, "#content-container");

#footer {
  height: $footerHeight;
  color: #626262;
  font-size: 16px;
  text-align: center;
}

.footer-logo { 
	padding: 20px 0; 
}

#footer-navlink-list {
  @include delimited-list('∙');
  font-family: 'Oswald', Helvetica, Arial, sans-serif;

  li:after {
  	content: " | ";
  	padding: 0 4px;
  }

  a {
  	color: #626262;
  	font-size: 18px;
  }
}

.footer-links { padding-bottom: 40px; }

.github-button { 
  padding-bottom: 15px;
  max-width: 300px;
  margin: 0 auto;
}

.gh-btn {
  width: 46%;
  margin: 0 2%;
  float: left;
  text-align: center;
}

.copyright {
	padding-bottom: 50px;

	p { margin-bottom: 3px; }

	a { color: #139ceb; }
}
