@import "compass/layout/sticky-footer";
@include sticky-footer($footerHeight, "#content-container");

#footer {
  height: $footerHeight;
  color: #626262;
  font-size: 16px;
  text-align: center;

  nav {
    padding-bottom: 35px;

    a {
      @include single-transition(color, .5s);
      text-shadow: 1px 1px 1px #ccc;
      color: #626262;
      font-size: 18px;
      &:hover {
        color: #000;
      }
    }
  }

  .navlink-list {
    @include delimited-list('∙');
  
    &.lang-list, &.lang-list a {
      font-size: 13px;
      &.active-lang {
        text-decoration: underline;
      }
    }
  
    &.main-nav {
      font-family: Oswald;
      @include delimited-list('');
      li {
        padding: 0 7px 0 5px;
        &:not(:last-child) {
          border-right: 2px solid #626262;
        }
      }
    }
  }
}

.footer-logo {
  padding: 20px 0;
}


/*
.github-button {
  padding-bottom: 15px;
  max-width: 300px;
  margin: 0 auto;
}

.gh-btn {
  width: 46%;
  margin: 0 2%;
  float: left;
  text-align: center;
}
*/

.copyright {
  padding-bottom: 50px;

  p { margin-bottom: 3px; }

  a { color: #139ceb; }
}
