@import "mixins";

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

body {
  background-color: #f3f3f3;
  font-weight: 300;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.hide {
  display: none;
}

/*
input:focus, textarea:focus {
  @include ctb-box-shadow(0 0 8px rgba(82,168,236,.6));

  &.ng-invalid {
    @include input-invalid;
  }
}
*/

.chromeframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background: #fff;
  @include opacity(0.9);
  padding: 30px 20px;
  text-align: center;
  color: #f00;
  a {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
  }
}

/*
#ghribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100;
}
*/

h1, .btn, strong { font-weight: 700; }

blockquote { font-family: 'Georgia', serif; }

a { cursor: pointer; }

ul, ol {
  list-style: none;
  margin: 0;

  li {
    line-height: 1.4;
  }
}

iframe {
  max-width: 100%;
}

hr {
  border: 0;
  height: 2px;
  border-top: 2px solid #e1e1e1;
  border-bottom: 1px solid #d6d6d6;
}

/* ===================
   LAYOUT
=================== */
.wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.constrained {
  max-width: 1110px;;
  margin: 0 auto;
}

.white-panel {
  background: #fff;
  border-bottom: 1px solid #c7c7c7;
}

.section {
  border-bottom: 1px solid #c7c7c7;
}

a.section-target {
  color: #333;
  text-decoration: none;
  cursor: default;
}

/* ===================
   QUOTES
=================== */
//.quotes {
//  display: table;
//
//  .last { border: 0; }
//}
//
//.quote {
//  display: table-cell;
//  width: 30%;
//  height: 100%;
//  max-width: 250px;
//  font-size: 19px;
//  padding: 52px 30px 20px;
//  border-right: 1px solid #ededed;
//
//  blockquote {
//    border: 0;
//    padding: 0;
//    line-height: 1.2;
//    color: #808080;
//  }
//
//  .cite { text-align: right; }
//}

/* other */

.social-media-icons {
  @include inline-block-list;
  span {
    font-size: 24px;
    display: inline-block;
  }
  .icon-github {
    font-size: 27px;
    margin-bottom: -2px;
  }
  li {
    padding: 0 3px;
  }
  /*
  a {
    @include single-transition(color, .5s);
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    &:hover {
      color: $lnt-pale-teal;
      text-decoration: none;
    }
  }
  */
}
