@import "mixins";

.lightbox {
  @include position(0, 0, 0, 0, fixed);
  @include single-transition(all, .5s, ease);
  z-index: 10000;
  padding: 70px;
  background-color: #fff;

  .media-container {
    width: 100%;
    height: 125%;
  }
}

.lightbox-close {
  @include position(0 , 20px, false, false, fixed);
  font-size: 60px;
  text-decoration: none !important;
  color: #ccc;
  &:hover {
    color: #aaa;
  }
}
