@mixin size($width: false, $height: $width) {
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
}

@mixin position($top: false, $right: false, $bottom: false, $left: false, $position: absolute) {
  position: $position;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

@mixin input-invalid() {
  border-color: darken(#ee5f5b, 10%) !important;
  @include ctb-box-shadow(0 0 6px lighten(#ee5f5b, 20%) !important);
}
