@import "mixins";

.censored {
    height: auto;
    background-color: rgb(24,41,58);
    border-radius: 15px;
    padding: 0 40px 10px 40px;

    div.text-center {
        padding-top: 5px;
    }

    div.box {
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        color: white;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
    }

    h1 {
        text-transform: uppercase;
        font-family: 'AvenirNextLTPro-DemiCn';
        font-size:45px;
        color: red;
    }

    div.howtohelp {
        color: white;
        padding-top: 10px;
        font-size: 24px;
        font-family: 'AvenirNextLTPro-DemiCn';
        text-align: center;
        a {
            text-transform: none;
            color: #00ffff;
        }

        p.donate a {
            text-decoration: none;
            font-style: italic;
        }

    }



}
