@font-face { font-family: LB; src: url('/fonts/ProximaNova-Bold.otf'); } 
@font-face { font-family: LBL; src: url('/fonts/ProximaNova-Light.otf'); }
@font-face { font-family: LBR; src: url('/fonts/ProximaNova-Regular.otf'); }
iframe, img { max-width: 100%; }
div.outer-container {
    margin: 0;
    padding: 0;
    background: rgb(13,23,32);

    nav.nav-bar {
        background-image: url('/images/nav-bg.png');
        width: 100%;
        position: fixed;
        padding-bottom: 10px;
        height: 60px;
        top: 0;
        z-index: 1005;
        @media screen and (max-width: 720px) {
            padding-bottom: 0px;
            position: relative;
        }

        a.nav-toggle {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-decoration: none;
            text-indent: -300px;
            position: relative;
            overflow: hidden;
            width: 60px;
            height: 55px;
            float: right;
            color: #fff;
            font: 400 28px/55px "responsivenav";
            text-transform: none;
        }
a.nav-toggle:before{color:#fff;font:400 28px/55px "responsivenav";text-transform:none;text-align:center;position:absolute;content:"\2261";text-indent:0;speak:none;width:100%;left:0;top:0}

        nav.social-media {
            left: 3%;
            color: #ababab !important;
            margin-right: 15%;
            @media screen and (max-width: 1025px) {
                float: none;
                left: 0%;
                margin-right: 0%;
                text-align: left;
                *[dir=rtl] & {
                    float: none;
                }
            }
            float: left;

            position: relative;
            @include single-transition(color, .3s);
            display: inline-block;
            margin-top: 10px;
            li {
                @media screen and (max-width: $break-small) {
                    display: inline-block;
                }
                padding: 0 10px;
                a {
                    @include single-transition(color, .3s);
                    transition: color 0.3s;
                    display: block;
                    color: #ababab !important;
                    font-size: 20px;
                    padding: 5px;
                    width: 20px;
                    height: 42px;
                    text-align: center;
                    &:hover {
                        color: lighten(#ababab, 15%)
                    }
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }

        nav.languages {
            position: relative;
            height: 30px;

            padding-top: 20px;

            float: right;
                   *[dir=rtl] & {
                       float: left;
                   }
                   margin-right: 4.5%;
                   @media screen and (max-width: $break-small) {
                       float: none;

                       text-align: center;
                       *[dir=rtl] & {
                           float: none;
                       }
                   }

                   .navlink-list {
                       @include inline-list;
                       &.lang-list > li {
                           float: left;
                                  *[dir=rtl] & {
                                      float: right;
                                  }

                                  text-align: right;
                                  text-transform: uppercase;
                                  background-color: rgb( 43, 62, 78 );
                                  text-transform: uppercase;
                                  cursor: pointer;

                                  padding: 10px 5px 5px 5px;
                                  display: inline-block;
                                  @media screen and (max-width: $break-small) {
                                      float: none;
                                             *[dir=rtl] & {
                                                 float: none;
                                             }
                                         }
                                     }
                                     &.lang-list, &.lang-list a {
                                         font-size: 12px;
                                         letter-spacing: 2px;
                                         font-weight: bold;
                                         font-family: LB;
                                         color: #fff;
                                         &.active-lang {
                                             -webkit-font-smoothing: antialiased;
                                             -moz-osx-font-smoothing: grayscale;
                                             &:hover {
                                                 cursor: pointer;
                                             }
                                         }
                                     }
                                     p {
                                         float: left;
                                                *[dir=rtl] & {
                                                    float: right;
                                                }
                                                font-weight: bold;
                                                font-size: 1.1em;
                                                margin: 0;
                                                color: #e0d627;  
                                            }
                                            a {
                                                @include single-transition(color, .3s);
                                                color: #7f9e99;
                                                &:hover {
                                                    text-decoration: none;
                                                }
                                                b {
                                                    font-weight: normal;
                                                }
                                                span {
                                                    border-top: 5px solid #fff;
                                                    margin-left: 0;
                                                }
                                            }
                                            .menu {
                                                position: absolute;
                                                top: 100%;
                                                right: 0;
                                                text-align: right;
                                                z-index: 1000;
                                                float: left;
                                                       *[dir=rtl] & {
                                                           float: right;
                                                           text-align: left;
                                                           left: 0;
                                                       }
                                                       min-width: 160px;
                                                       padding: 5px 0;
                                                       margin: 2px 0 0;
                                                       list-style: none;
                                                       font-size: 14px;
                                                       background-color: #131f28;
                                                       border: 1px solid #cccccc;
                                                       border: 1px solid rgba(0, 0, 0, 0.15);
                                                       border-radius: 4px;
                                                       box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                                                       background-clip: padding-box;
                                                       li {
                                                           display: block;
                                                           a {
                                                               padding: 3px 20px;
                                                               @include single-transition(color, .3s);
                                                               &:hover {
                                                                   color: #e0d627;
                                                                   background-color: transparent;
                                                               }
                                                           }
                                                       }
                                                   }
                                               }
                                           }

                                           nav.nav-area {

                                              font-size: 18px;
                                              font-family: LB;
                                              position: relative;
                                              text-align: center;
                                              height: 60px;
                                              margin-left: auto;
                                              margin-right: auto;
                                              text-transform: uppercase;

                                              padding-top: 20px;
                                              float: left;
                                              display: block;
                                              @media screen and (max-width: $break-small) {
                                                padding-bottom: 30px;
                                                padding-top: 15px;
                                                background-image: url("/images/nav-bg.png");

                                              }

                                              ul {
                                                  li {
                                                      display: inline;
                                                      padding-left: 35px;
                                                      @media screen and (max-width: $break-small) {
                            padding-left: 10px;
                            font-size: 11px;
            }

                                                      letter-spacing:2px;
                                                  }
                                                  li a.boxed {
                                                      border: 2px solid #fff;
                                                      padding: 10px;
                                                      @media screen and (max-width: $break-small) {
                                                        padding-right: 50px;
                                                      }


                                                  }
                                                  li a {
                                                      text-decoration: none;
                                                      color: #fff;
                                                  }
                                              }
                                          }
                                      }

                                                div.top-section {
                                                    background-image: -moz-linear-gradient(bottom, #0c1720 18.26%, #0c1720 18.51%, #111d27 100%); /* gradient overlay */
                                                    background-image: -o-linear-gradient(bottom, #0c1720 18.26%, #0c1720 18.51%, #111d27 100%); /* gradient overlay */
                                                    background-image: -webkit-linear-gradient(bottom, #0c1720 18.26%, #0c1720 18.51%, #111d27 100%); /* gradient overlay */
                                                    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiMwYzE3MjAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iIzBjMTcyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMWQyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); 
                                                    background-color: #0a161f;
                                                    margin-top: 60px;
                                                    background: url('/images/LanternYellow2.png') top center no-repeat;
                                                    background-size: cover;
                                                    position: relative;
                                                    width: 100%;
                                                    height: 615px;
                                                    z-index: 24;

                                                    @media screen and (max-width: $break-small) {
                                                        background: url('/images/LanternYellow-small.png') top center no-repeat;
                                                        background-size: 130% 50%;
                                                        margin-top: 0px;
                                                    }



                                                    div.container {
                                                        width: 100%;
                                                        position: absolute;
                                                        div.end-censorship {

                                                            font-size: 16px;
                                                            font-family: LBL;
                                                            color: rgb( 255, 255, 255 );
                                                            text-align: center;
                                                            -moz-transform: matrix( 3.6355342662767,0,0,3.67352469523935,0,0);
                                                            -webkit-transform: matrix( 3.6355342662767,0,0,3.67352469523935,0,0);
                                                            -ms-transform: matrix( 3.6355342662767,0,0,3.67352469523935,0,0);
                                                            position: relative;
                                                            margin-left: auto;
                                                            margin-right: auto;
                                                            top: 245px;
                                                            max-width: 100%;
                                                            z-index: 38;

                                                            @media screen and (max-width: $break-small) {
                                                                width: auto;
                                                                -webkit-transform: none;
                                                                font-size: 30px;
                                                            }

                                                        }

                                                        div.app-desc {
                                                            font-size: 24px;
                                                            font-family: LBR;
                                                            color: rgb( 255, 255, 255 );
                                                            text-align: center;
                                                            -moz-transform: matrix( 0.7386542256302,0,0,0.73825770238054,0,0);
                                                            -webkit-transform: matrix( 0.7386542256302,0,0,0.73825770238054,0,0);
                                                            -ms-transform: matrix( 0.7386542256302,0,0,0.73825770238054,0,0);
                                                            position: relative;
                                                            top: 275px;
                                                            margin-left: auto;
                                                            margin-right: auto;
                                                            width: auto;
                                                            z-index: 39;
                                                        }

                                                        div.download-section {
                                                            top: 315px;
                                                            margin-left: auto;
                                                            margin-right: auto;
                                                            position: relative;
                                                            width: 516px;
                                                            height: 80px;

                                                            @media screen and (max-width: $break-small) {
                                                                width: auto;
                                                                top: 270px;
                                                            }


                                                            div.download-button {

                                                                @media screen and (max-width: $break-small) {
                                                                    display: none;
                                                                }

                                                                border-radius: 3em;
                                                                float: left;
                                                                border: 3px solid #c5bb1f; 
                                                                border-radius: 33px; /* border radius */
                                                                -moz-background-clip: padding;
                                                                -webkit-background-clip: padding-box;
                                                                background-color: #dfd323;
                                                                width: 294px;
                                                                position: relative;
                                                                height: 64px;
                                                                color: #fff;
                                                                letter-spacing: 3px;
                                                                background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%); /* gradient overlay */
                                                                background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%); /* gradient overlay */
                                                                background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%); /* gradient overlay */
                                                                background-image: linear-gradient(bottom, rgba(0,0,0,.12) 0%, rgba(255,255,255,.12) 100%); 

                                                                div.download-txt {
                                                                    padding-top: 10px;
                                                                    text-align: center;
                                                                    font-size: 18px;
                                                                    font-family: LB;
                                                                    text-shadow: 0 2px 2px rgba(0,0,0,.16); 
                                                                    text-transform: uppercase;
                                                                    span {
                                                                        display: block;
                                                                        color: #726b12;
                                                                        text-shadow: none;
                                                                        font-weight: bold;
                                                                        font-size: 10px;
                                                                    }
                                                                }
                                                            }
                                                            div.watch-video {

                                                                width: 200px; 
                                                                padding-top: 15px;
                                                                padding-left: 50px;
                                                                float: right;
                                                                height: 50px;
                                                                cursor: pointer;
                                                                background: url('/images/play-button.png') no-repeat;
                                                                @media screen and (max-width: $break-small) {
                                                                    float: none;
                                                                    margin-left: auto;
                                                                    margin-right: auto;
                                                                    
                                                                }

                                                                span {
                                                                    letter-spacing: 3px;
                                                                    padding-left: 10px;
                                                                    color: #fff;
                                                                    font-size: 15px;
                                                                    font-family: LBR;
                                                                    text-transform: uppercase;
                                                                }
                                                            }
                                                        }

                                                        div.platforms {
                                                            display: block;
                                                            font-size: 18px;
                                                            font-family: LB;
                                                            color: rgb( 104, 139, 166 );
                                                            text-align: center;
                                                            position: relative;
                                                            top: 340px;
                                                            margin-left: auto;
                                                            margin-right: auto;
                                                            z-index: 32;
                                                            @media screen and (max-width: $break-small) {
                                                                display: none;
                                                            }
                                                  
                                                            a {
                                                                color: #e0d627;
                                                                text-decoration: none;
                                                                border-bottom: 1px solid #e0d627;
                                                            }
                                                        }
                                                    }
                                                }
                                                section.sign-up,
                                                div.lantern-map {
                                                    position: relative;
                                                    background: rgb(29,53,69);
                                                    height: 1286px;

                                                    h1 {
                                                        margin-top: 0px;
                                                        font-size: 30px;
                                                        color: #fff;
                                                        margin-left: auto;
                                                        margin-right: auto;
                                                        position: relative;
                                                        text-transform: uppercase;
                                                        letter-spacing:5px;
                                                        font-family: LBL;
                                                        text-align: center;
                                                        padding-top: 70px;
                                                    }

                                                    div.lantern-desc {
                                                        padding-top: 30px;
                                                        font-family: LBL;
                                                        text-align: center;
                                                        width: 45%;
                                                        position: relative;
                                                        color: #fff;
                                                        margin-left: auto;
                                                        display: block;
                                                        margin-right: auto;
                                                        font-size: 18px;
                                                        @media screen and (max-width: $break-small) {
                                                            width: auto;
                                                        }


                                                    }
                                                    div.map-wrapper {
                                                        width: 85%;
                                                        height: 70%;
                                                        margin: 0 auto;
                                                        position: relative;
                                                        background: rgb(29,53,69);


                                                        iframe {
                                                            padding-top: 50px;
                                                            padding-bottom: 50px;
                                                            position: absolute;
                                                            frameborder: 0;
                                                            max-width: 100%;
                                                            top: 0;
                                                            left: 0;
                                                            width: 100%;
                                                            height: 100%;
                                                            @media screen and (max-width: $break-small) {
                                                                display: none;
                                                            }
                                                        }
                                                            @media screen and (max-width: $break-small) {
                                                                img {
                                                                    padding-top: 20px;
                                                                    display: block !important;
                                                                }
                                                        }
                                                    }
                                                }
                                                section.sign-up {
                                                    width: 100%;
                                                    height: 350px;
                                                    position: relative;
                                                    background: rgb(18,36,48);

                                                    @media screen and (max-width: $break-small) {
                                                        height: 500px;
                                                    }             

                                                    div#mc_embed_signup {
                                                        width: 674px;
                                                        @media screen and (max-width: $break-small) {
                                                            width: 100%;
                                                        }

                                                        margin-left: auto;
                                                        margin-right: auto;
                                                        font-family: LBL;         
                                                        h5 {
                                                            font-size: 24px;
                                                            text-align: center;
                                                            color: #fff;
                                                            @media screen and (max-width: $break-small) {
                                                                font-size: 20px;
                                                            }            
                                                        }
                                                        div.region {
                                                            width: 210px;
                                                            float: left;
                                                            display: block;
                                                            @media screen and (max-width: $break-small) {
                                                                width: 100%;
                                                            }

                                                            div.mc-field-group {
                                                                padding-top: 30px; 
                                                                padding-right: 55px;
                                                                padding-bottom: 35px;
                                                                background: rgb(25,45,58);

                                                                @media screen and (max-width: $break-small) {
                                                                    width: 100%;
                                                                }
                                                            }
                                                            ul {
                                                                padding-left: 20px;
                                                                li {
                                                                    text-align: left;
                                                                    color: #fff;
                                                                    width: 170px;
                                                                    text-transform: uppercase;
                                                                    label {
                                                                        font-size: 13px;
                                                                        font-family: LBL;
                                                                        padding-left: 5px;
                                                                    }

                                                                }
                                                            }
                                                        }
                                                        div.email-form {
                                                            width: 460px;
                                                            float: right;
                                                            @media screen and (max-width: $break-small) {
                                                                width: 100%;
                                                            }

                                                            div.mc-field-group {
                                                                padding: 40px;
                                                                background: rgb(35, 57, 72);
                                                                input#mce-EMAIL {
                                                                    font-weight: bold;
                                                                    font-family: LB;
                                                                    font-size: 18px;
                                                                }

                                                                span {
                                                                    input {
                                                                        opacity: 1.0;
                                                                        color: #fff;
                                                                        font-weight: bold;
                                                                        background: #e0d627;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
