.header {
  display: block;
  background-color: $lnt-teal;
  padding: 15px 0;
  @include box-shadow(rgba(black, 0.19) 0 1px 0);
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #12485d;

  .social-media-icons {
    margin: 25px 20px 0 0;
  }

  .lang-chooser {
    margin: 26px 22px 0 0;
  }

  .dropdown-toggle {
    background: $lnt-teal;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }

  .lang-list {
    background-color: #000;
    background: rgba(0, 0, 0, .8);
    text-shadow: 1px 1px 1px #000;
    min-width: 100px;
    text-align: right;
    a {
      color: #fff !important;
      &.active-lang, &:hover {
        background: $lnt-teal;
        background-image: linear-gradient(to bottom, $lnt-light-teal, $lnt-teal);
      }
    }
  }

  .dropdown-menu li > a:hover {
  }

  .btn-group.open .dropdown-toggle {
    background-color: #000;
    background: rgba(0, 0, 0, .8);
  }
}

.site-logo {
  position: relative;
  width: 153px;
  padding-bottom: 12px;

  .beta {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #b1b8bc;
    text-transform: uppercase;
  }
}
