.header {
  display: block;
  background-color: #0a3343;
  padding: 15px 0;
  @include box-shadow(rgba(black, 0.19) 0 1px 0);
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #12485d;
}

.site-logo {
  position: relative;
  width: 153px;
  padding-bottom: 12px;

  .beta {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #b1b8bc;
    text-transform: uppercase;
  }
}
