.header {
  display: block;
  background-color: $lnt-teal;
  @include box-shadow(rgba(black, 0.19) 0 1px 0);
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #12485d;


  //.social-media-icons {
  //  margin: 25px 20px 0 0;
  //}

  .section-nav {
    float: right;
    margin: 30px 22px 0 0;
    font-family: Oswald;
    text-transform: uppercase;

    *[dir=rtl] & {
      float: left;
      margin: 30px 0 0 22px;
    }
  }

  .section-list {
    @include inline-list;

    a {
      color: #fff;
    }

    li {
      padding: 0 20px;
    }
  }

  /*
  .lang-chooser {
    margin: 26px 22px 0 0;
    //text-align: center;
    //padding: 10px 0 0 30px;
  }

  .dropdown-toggle {
    background: $lnt-teal;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }

  .lang-list {
    background-color: #000;
    background: rgba(0, 0, 0, .8);
    text-shadow: 1px 1px 1px #000;
    min-width: 100px;
    text-align: right;
    a {
      color: #fff !important;
      &.active-lang, &:hover {
        background: $lnt-teal;
        background-image: linear-gradient(to bottom, $lnt-light-teal, $lnt-teal);
      }
    }
  }

  .dropdown-menu li > a:hover {
  }

  .btn-group.open .dropdown-toggle {
    background-color: #000;
    background: rgba(0, 0, 0, .8);
  }
  */

    .header-links a {
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        color: #7d8d95;
    }

    .header-links a:hover {
        color: #ffffff;
    }

    .header-nav-links {
        width: 30%;
    }
}

#header-navlink-list a {
    display: block;
    width: 33%;
    border-right: 1px solid #7d8d95;
    text-align: center;
    line-height: 90px;
    font-size: 24px;
    @include delimited-list('∙');
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}

.site-logo {
  position: relative;
  width: 153px;
  padding-bottom: 12px;
  margin-top: 10px;

  .beta {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #b1b8bc;
    text-transform: uppercase;
  }
}
