$lnt-teal: #0a3343;
$lnt-light-teal: #0e475e;
$lnt-pale-teal: lighten(#0e475e, 60%);
$lnt-yellow: #cbd687;
$bright-yellow: rgb(238, 227, 97);
         
$lnt-pale-yellow: scale-saturation($lnt-yellow, -70%);
$footerHeight: 300px;

// ** framework-defined
// compass
$support-for-original-webkit-gradients: true;

// bootstrap
$baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseFontSize: 18px;
$baseLineHeight: 22px;
//$fontAwesomePath: "fontawesome-webfont"

// breakpoints
$break-small: 600px;
$break-medium: 747px;
$break-large: 1240px;
