.watch {
    background-color: #32424d;
    color: #ffffff;
    @media screen and (min-width: $break-small) {
        padding-bottom: 60px;
    }
    .watch-text {
        *[dir=ltr] & {
            float: right;
            margin-right: 6%;
        }
        *[dir=rtl] & {
            float: left;
            margin-left: 6%;
        }
        width: 25%;
        font-family: 'AvenirNextLTPro-MediumCn';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @media screen and (max-width: 1100px) {
            float: none;
            width: 90%;
            margin: 0 auto;
        }
        h3 {
            margin: 60px 0 10px 0;
            color: $lnt-yellow;
            text-transform: uppercase;
            font-family: 'AvenirNextLTPro-DemiCn';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 2em;
            @media screen and (max-width: 1100px) {
                text-align: center;
                margin: 30px 0;
            }
        }
        p {
            margin-bottom: 10px;
            font-size: 1.5em;
            line-height: 32px;
            @media screen and (max-width: 1100px) {
                padding: 0 15px;
                &:first-of-type {
                    margin-top: 20px;
                }
            }
            @media screen and (max-width: $break-small) {
                padding: 5px;
            }
        }
    }
    .app-screenshot {
        *[dir=rtl] & {
            float: right;    
        }
        *[dir=ltr] & {
            float: left;
        }
        width: 65%;
        margin-top: 60px;
        @media screen and (max-width: 1100px) {
            display: block;
            width: 90%;
            margin: 0 auto;
            *[dir=rtl] & {
                float: none;    
            }
            *[dir=ltr] & {
                float: none;
            }
        }
        
        img {
            width: 100%;
        }
        p {
            color: $lnt-yellow;
            *[dir=ltr] & {
                margin: 15px 0 0 9.2%;
            }
            *[dir=rtl] & {
                margin: 15px 9.2% 0 0;   
            }
            font-family: 'AvenirNextLTPro-MediumCn';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 1.4em;
            @media screen and (max-width: 1100px) {
                margin: 5px;
                text-align: center;
            }
        }
    }
}