.watch {
  padding-top: 40px !important;

    p {
        margin: 0 auto 11px;
    }

  .app-screenshot {
    margin-top: 20px;
  }

}

#faq {
    padding: 80px 25px 25px;

    .expander {
        *[dir=ltr] & {
          margin-right: 3%;
        }
        *[dir=rtl] & {
          margin-left: 3%;
        }
        display:block;
        width: 40px;
        height: 40px;
        background: #1a729c;
        box-shadow: 0px -1px 0px #125a7b;
        -moz-box-shadow:    0px 2px 0px #125a7b;
        -webkit-box-shadow: 0px 2px 0px #125a7b;
        box-shadow:         0px 2px 0px #125a7b;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 30px;
    }

    ul {
        background: #f6f6f6;
        padding: 25px;
        border-radius: 5px;

        li {
            border-bottom: 1px solid #999;
            padding: 20px 0;
        }

        li:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        .faq-item, .expander {
          float: left;
          *[dir=rtl] & {
            float: right;
          }
        }

        .faq-item {
            width: 90%;

            .faq-answer {

                p {
                    width: 100%;
                }
            }

        }
    }
}
