language: node_js
node_js:
  - "0.10"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g bower karma
  - bower install

script:
  - karma start karma.conf.js --no-auto-watch --single-run --reporters=dots --browsers=Firefox

notifications:
  irc: "irc.freenode.net#lantern"
