<div tabindex="-1" role="dialog" class="modal fade" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
    <div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="modal-content censored" modal-transclude>
            <div class="row text-center">
                <div class="box" ng-click="close($event)">X</div>
                <img src="/images/triexcl.png">
                <h1>This Site Has Been Blocked</h1>
                <div class="howtohelp">
                    <p>This is what nearly 1.6B people experience every day when
                    trying to visit their favorite websites.</p>
                    <p class="donate">Please <a target="_blank" href="http://igg.me/at/getlantern">donate to our Indiegogo campaign</a>
                    to help.</p>
                </div>
                <img src="/images/lantern_circle_eclipse.png">
            </div>
    </div>
</div>
