<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" id="ng-app" ng-app="lantern_www"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" id="ng-app" ng-app="lantern_www"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" id="ng-app" ng-app="lantern_www"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" id="ng-app" ng-app="lantern_www"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title ng-bind-template="{{'LANTERN' | translate}}">Lantern</title>
        <meta name="description" content="Defeat internet censorship. Give or get access to the open internet by sharing connections through your social network." ng-attr-content="{{'META_DESC' | translate}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <!--
        /**
         * @license
         * MyFonts Webfont Build ID 2745063, 2014-02-11T15:01:46-0500
         * 
         * The fonts listed in this notice are subject to the End User License
         * Agreement(s) entered into by the website owner. All other parties are 
         * explicitly restricted from using the Licensed Webfonts(s).
         * 
         * You may obtain a valid license at the URLs below.
         * 
         * Webfont: Avenir Next Pro Demi by Linotype
         * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-demi/
         * Licensed pageviews: 500,000
         * 
         * Webfont: Avenir Next Pro Medium by Linotype
         * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-medium/
         * Licensed pageviews: 250,000
         * 
         * 
         * License: http://www.myfonts.com/viewlicense?type=web&buildid=2745063
         * Webfonts copyright: Copyright &#x00A9; 2004 - 2007 Linotype GmbH, www.linotype.com.
         * All rights reserved. This font software may not be reproduced, modified, disclosed or
         * transferred without the express written approval of Linotype GmbH. Avenir is a
         * trademark of Linotype GmbH
         * 
         * © 2014 MyFonts Inc
        */
        
        -->
        <link rel="stylesheet" type="text/css" href="styles/MyFontsWebfontsKit.css">
        
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        
        <!-- build:js scripts/loadfirst.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        
    </head>
    <body class="ng-cloak" lang="{{activeLang.code}}" dir="{{activeLang.dir}}">
        <!--[if lt IE 8]>
          <p class="chromeframe">You are using an outdated browser. Please <a href="https://www.google.com/chrome/">upgrade your browser</a> or <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> and try again.</p>
        <![endif]-->

        <!--[if lt IE 9]>
          <script src="bower_components/es5-shim/es5-shim.min.js"></script>
          <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- uncomment out to enable firebug lite (useful for IE)
          <script src="http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"></script>
        -->

        <!-- site content starts here -->
        <div class="lightbox hide" lightbox>
            <a class="lightbox-close" lightbox-close>&times;</a>
            <div class="media-container" id="player"></div>
        </div>

        <div id="content-container">
            <header id="topbar" class="header">
                <div id="logo-header" class="clearfix">
                    <div class="site-logo">
                        <a href="/" class="clearfix">
                            <img src="images/lantern-header-logo-scaled.png" alt="Lantern" />
                        </a>
                    </div>
                    
                    <nav class="languages" ng-show="NLANGS > 1">
                        <ul class="navlink-list lang-list" dir="ltr">
                            <li>
                                <a class="active-lang">{{activeLang.name}}</a>
                            </li>
                            <li role="presentation" class="ng-scope">
                                <a role="menuitem" ng-href="#en_US" ng-class="{'hidden': activeLang.code == 'en_US'}" ng-click="changeLang('en_US')" class="lang ng-binding" href="#en_US">English</a>
                            </li>
                            <li role="presentation" class="ng-scope">
                                <a role="menuitem" ng-href="#fa_IR" ng-class="{'hidden': activeLang.code == 'fa_IR'}" ng-click="changeLang('fa_IR')" class="lang ng-binding" href="#fa_IR">فارسی</a>
                            </li>
                            <li role="presentation" class="ng-scope">
                                <a role="menuitem" ng-href="#zh_CN" ng-class="{'hidden': activeLang.code == 'zh_CN'}" ng-click="changeLang('zh_CN')" class="lang ng-binding" href="#zh_CN">中文</a>
                            </li>
                            <li class="dropdown" ng-controller="CollapseCtrl">
                                <a ng-click="isCollapsed = !isCollapsed">
                                    <b ng-bind-template="{{'MORE' | translate}}">More </b><span class="caret"></span>
                                </a>
                                <ul collapse="isCollapsed" class="menu" role="menu">
                                    <li ng-repeat="lang in LANGS" role="presentation">
                                        <a role="menuitem" ng-href="#{{lang.code}}" ng-class="{'active-lang': lang.code == activeLang.code}" ng-click="changeLang(lang.code)" class="lang">{{lang.name}}</a>
                                    </li>
                                    <li>
                                        <strong><a ng-href="{{HELP_TRANSLATE_URL}}" target="_blank" ng-bind-template="{{'HELP_TRANSLATE' | translate}}">
                                            Help Translate
                                        </a></strong>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div id="rally-banner">
                        <h4 ng-bind-template="{{'DONATE' | translate}}">Donate to our</h4>
                        <a href="https://rally.org/getlantern" target="_blank">
                            <img src="images/rally-sash.png">
                        </a>
                    </div>
                </div>
                <div id="header-nav" class="clearfix">
                    <nav class="section-nav">
                        <ul class="section-list">
                            <li><a href="#about" ng-bind-template="{{'ABOUT' | translate}}">About</a></li>
                            <li><a href="#faq" ng-bind-template="{{'FAQ' | translate}}">FAQ</a></li>
                            <!-- <li><a href="/blog.html" ng-bind-template="{{'BLOG' | translate}}">Blog</a></li> -->
                        </ul>
                    </nav>
                    <nav class="social-media">
                        <!-- XXX DRY .social-media-icons in header -->
                        <ul class="social-media-icons">
                            <li><a target="_blank" ng-href="{{TWITTER_URL}}"><span class="icon-twitter"></span></a></li>
                            <li><a target="_blank" ng-href="{{FACEBOOK_URL}}"><span class="icon-facebook"></span></a></li>
                            <li><a target="_blank" ng-href="{{TUMBLR_URL}}"><span class="icon-tumblr"></span></a></li>
                            <li><a target="_blank" ng-href="{{GITHUB_URL}}"><span class="icon-github"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section class="section faq clearfix">
                <div id="faq" class="clearfix" ng-controller="DownloadCtrl">
                    <a name="faq" class="section-target">
                        <h3 ng-bind-template="{{'QUESTIONS_AND_ANSWERS' | translate}}">Questions and Answers</h3>
                    </a>
                    <ul>
                        <li class="clearfix" ng-repeat="faq in faqs">
                            <button ng-click="faq.expanded=!faq.expanded" class="expander">{{!faq.expanded && '+' || '-'}}</button>
                            <div class="faq-item">
                                <a name="faq_{{faq.key|lowercase}}"
                                    ng-click="faq.expanded=!faq.expanded"><h4 ng-bind-template="{{faq.key + '_QUESTION' | translate}}"></h4></a>
                                <a class="faq-permalink" ng-href="#faq_{{faq.key|lowercase}}"><h4>¶</h4></a>
                                <div collapse="!faq.expanded" class="faq-answer">
                                    <p ng-repeat="i in range(1, faq.nparagraphs)">
                                       <span ng-bind-html="faq.key + '_ANSWER_' + i | translate"></span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- for http://compass-style.org/reference/compass/layout/sticky_footer/ -->
            <div id="root_footer"></div>
        </div>

        <footer id="footer" class="footer">
            <div class="wrap clearfix">
                <nav class="clearfix">
                    <ul class="navlink-list main-nav">
                        <li><a target="_blank" ng-href="{{FORUMS_URL}}" ng-bind-template="{{'FORUMS' | translate}}">Forums</a></li>
                        <li><a target="_blank" ng-href="{{DOCS_URL}}" ng-bind-template="{{'DOCS' | translate}}">Docs</a></li>
                        <li><a target="_blank" ng-href="{{PRIVACY_URL}}" ng-bind-template="{{'PRIVACY' | translate}}">Privacy</a></li>
                        <li><a target="_blank" ng-href="{{GET_INVOLVED_URL}}" ng-bind-template="{{'GET_INVOLVED' | translate}}">Get Involved</a></li>
                    </ul>
                </nav>
                
                <form novalidate name="signupForm" method="POST" ng-submit="handleSignup()" signup-form>
                    <input type="hidden" name="_charset_">
                    <h5 class="form-title" ng-bind-template="{{'EMAIL_SIGNUP' | translate}}">Sign up for updates</h5>
                    <div class="input-group input-append">
                        <input type="email" name="EMAIL" ng-model="email" required spellcheck="false"
                            ng-pattern="/[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}/"
                            class="input-xlarge form-control" placeholder="email@example.com">
                        <span class="input-group-btn">
                            <input type="submit" name="subscribe" class="btn btn-inverse"
                                ng-disabled="signupForm.$invalid"
                                value="+">
                        </span>
                    </div><!-- /input-group -->
                </form>
                
                <nav class="social-media clearfix">
                    <!-- XXX DRY .social-media-icons in header -->
                    <ul class="social-media-icons">
                        <li><a target="_blank" ng-href="{{TWITTER_URL}}"><span class="icon-twitter"></span></a></li>
                        <li><a target="_blank" ng-href="{{FACEBOOK_URL}}"><span class="icon-facebook"></span></a></li>
                        <li><a target="_blank" ng-href="{{TUMBLR_URL}}"><span class="icon-tumblr"></span></a></li>
                        <li><a target="_blank" ng-href="{{GITHUB_URL}}"><span class="icon-github"></span></a></li>
                    </ul>
                </nav>
            </div>
        </footer>

        <!-- site content ends here -->

<script>
window.session = {options: {gapi_location: false}};
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
</script>

        <!-- these get automatically minified and concatenated at build time -->
        <!-- build:js scripts/loadlast.js -->
        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/session.js/session.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-bootstrap/src/transition/transition.js"></script>
        <script src="bower_components/angular-bootstrap/src/collapse/collapse.js"></script>
        <script src="bower_components/angular-bootstrap/src/dropdownToggle/dropdownToggle.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers/download.js"></script>
        <script src="scripts/directives/lightbox.js"></script>
        <script src="scripts/directives/signup.js"></script>
        <script src="scripts/directives/videoOnClick.js"></script>
        <script src="scripts/services/osSniffer.js"></script>
        <script src="scripts/services/installerDataFetcher.js"></script>
        <!-- generated by "grunt jsFromJSON"; populates window.translations with data from locale/*.json -->
        <script src="scripts/jsFromJSON/translations.js"></script>
        <!-- endbuild -->
        
    </body>
</html>
