<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" id="ng-app" ng-app="GetLanternSiteApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" id="ng-app" ng-app="GetLanternSiteApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" id="ng-app" ng-app="GetLanternSiteApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" id="ng-app" ng-app="GetLanternSiteApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title ng-bind-template="{{'LANTERN' | translate}}">Lantern</title>
    <meta name="description" content="Defeat internet censorship. Give or get access to the open internet by sharing connections through your social network." ng-attr-content="{{'META_DESC' | translate}}">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/loadfirst.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body class="ng-cloak">
    <!--[if lt IE 8]>
      <p class="chromeframe">You are using an outdated browser. Please <a href="https://www.google.com/chrome/">upgrade your browser</a> or <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> and try again.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- uncomment out to enable firebug lite (useful for IE)
      <script src="http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"></script>
    -->

    <!-- site content starts here -->
    <div id="content-container">
      <header id="topbar" class="header">
        <nav class="lang-chooser btn-group dropdown pull-right">
          <a class="btn btn-inverse dropdown-toggle">
            <span class="icon-globe"></span>
            <span class="active-lang">{{activeLang.name}}</span>
            <span class="caret"></span>
          </a>
          <ul class="lang-list dropdown-menu">
            <!--
            <li ng-repeat="lang in LANGS">
              <a ng-show="lang.code == activeLang.code" class="active-lang">{{lang.name}}</a>
              <a ng-click="changeLang(lang.code)" ng-hide="lang.code == activeLang.code">{{lang.name}}</a>
            </li>
            <li class="divider"></li>
            -->
            <li>
              <a ng-href="{{HELP_TRANSLATE_URL}}" target="_blank" ng-bind-template="{{'HELP_TRANSLATE' | translate}}">
                Help Translate
              </a>
            </li>
          </ul>
        </nav>
        <!--
        <nav class="pull-right">
          <ul class="social-media-icons">
            <li><a target="_blank" ng-href="{{TWITTER_URL}}" target="_blank"><span class="icon-twitter"></span></a></li>
            <li><a target="_blank" ng-href="{{FACEBOOK_URL}}" target="_blank"><span class="icon-facebook"></span></a></li>
            <li><a target="_blank" ng-href="{{TUMBLR_URL}}" target="_blank"><span class="icon-tumblr"></span></a></li>
            <li class="github"><a target="_blank" ng-href="{{GITHUB_URL}}" target="_blank"><span class="icon-github"></span></a></li>
          </ul>
        </nav>
        -->
        <div class="wrap clearfix">
          <div class="site-logo">
            <a href="/">
              <img src="images/lantern-logo.png" alt="Lantern" />
              <span class="beta" ng-bind-template="{{'BETA' | translate}}">Beta</span>
            </a>
          </div>
        </div>
      </header>

      <section class="section download" ng-controller="DownloadCtrl">
        <div class="constrained">
          <div class="panel">
            <h1 class="panel-title" ng-bind-template="{{'WHAT_IS_LANTERN' | translate}}">What is Lantern?</h1>
            <div class="panel-text">
              <p ng-bind-template="{{'LANTERN_DESCRIPTION_1' | translate}}">Lantern is a network...</p>
              <br>
              <br>
              <p ng-bind-template="{{'LANTERN_DESCRIPTION_2' | translate}}">Lantern is a network...</p>
            </div>

            <!-- if we haven't (yet) fetched installer data -->
            <!--
            <div ng-hide="data" ng-bind-template="{{'CHECK_BACK_SOON' | translate}}">Check back again soon to download Lantern.</div>
            -->
            <!--<section ng-hide="data" class="signup">-->
            <section class="signup">
              <form novalidate name="signupForm" method="POST" ng-submit="handleSignup()" signup-form>
                <input type="hidden" name="_charset_">
                <h5 class="form-title" ng-bind-template="{{'REQUEST_INVITE' | translate}}">Request an invite and updates:</h5>
                <div class="input-append">
                  <input type="email" name="EMAIL" ng-model="email" required spellcheck="false"
                    ng-pattern="/[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}/"
                    class="input-xlarge" placeholder="email@example.com">
                  <input type="submit" name="subscribe" class="btn btn-inverse"
                    ng-disabled="signupForm.$invalid"
                    value="+">
                </div>
              </form>
            </section>

            <!-- if we have fetched installer data -->
            <!--<div ng-show="data">-->

              <!-- if the user selected an OS, or we auto-selected the sniffed OS -->
              <!--
              <div ng-hide="selectedOS == 'UNAVAILABLE_OS'">

                <div ng-hide="downloadClicked">
                  <div class="button-wrapper">
                    <a class="btn btn-primary btn-large" ng-click="handleDownload()" ng-bind-template="{{'DOWNLOAD_LANTERN' | translate}}">Download Lantern</a>
                  </div>

                  <ul class="data-list">
                    <li class="first">
                      <span class="icn icn-{{icnClassFor[selectedOS]}}"></span>
                      {{selectedOS | translate}}
                      <span class="extra-info">
                        {{data[selectedOS].minOSVerReq}}
                        <span ng-bind-template="{{'OR_HIGHER' | translate}}">or higher</span>
                      </span>
                    </li>
                   <li>
                    <span ng-bind-template="{{'VERSION' | translate}}">Version</span>
                      {{data[selectedOS].version}}
                    </li>
                    <li class="last">
                      <span ng-bind-template="{{'RELEASED' | translate}}">Released</span>
                      <time datetime="{{data[selectedOS].released}}">
                        {{data[selectedOS].released | date}}
                      </time>
                    </li>
                  </ul>
                </div>

                <div ng-show="downloadClicked">
                  <h3 class="subprompt" ng-bind-template="{{'DOWNLOAD_IN_PROGRESS' | translate}}">Your download should be in progress...</h3>
                  <div>
                    <a href="{{data[selectedOS].url}}" ng-bind-template="{{'DIRECT_LINK' | translate}}">Direct download link</a>
                  </div>
                  <div class="warning" ng-bind-template="{{'WARNING' | translate}}">
                    Warning: Lantern is pending external security audit and thorough peer review within the technical community. Please only use Lantern if you understand your risks. If you need to use Lantern to <strong>Get Access</strong> to blocked sites, it may not work until you receive an invite from an already-invited user.
                  </div>
                </div>

                <div class="os-link">
                  <a ng-click="selectOS('UNAVAILABLE_OS')" ng-bind-template="{{'OTHER_SYSTEMS' | translate}}">Other systems</a>
                </div>
              </div>

              <div ng-show="selectedOS == 'UNAVAILABLE_OS'">
                <h3 class="subprompt" ng-bind-template="{{'CHOOSE_SYSTEM' | translate}}">Choose System</h3>
                <ul class="data-list os-select">
                  <li ng-repeat="osKey in osKeys | orderBy:isUbuntu">
                    <span class="icn icn-{{icnClassFor[osKey]}}"></span>
                    <a ng-click="selectOS(osKey)">{{osKey | translate}}</a>
                    <span class="extra-info">
                      {{data[osKey].minOSVerReq}}
                      <span ng-bind-template="{{'OR_HIGHER' | translate}}">or higher</span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            -->
          </div>

            <div class="video-panel pull-right">
                <img class="video-snapshot" src="images/video-snapshot.jpg" video-on-click>
                <img class="play-button" src="images/icon-play.png" video-on-click>
                <div id="video"></div>
            </div>
        </div>
      </section>

      <!-- XXX(i18n): would we translate quotes? probably better to get original quotes in other languages
      <div class="white-panel">
        <div class="quotes constrained clearfix">
          <div class="quote">
            <blockquote>"An amazing quote would go here.  Something flattering."</blockquote>
            <div class="cite"><img src="images/logo-fast-company.png" alt="Fast Company" /></div>
          </div>
          <div class="quote">
            <blockquote>"An amazing quote would go here.  Something flattering."</blockquote>
            <div class="cite"><img src="images/logo-cnbc.png" alt="CNBC" /></div>
          </div>
          <div class="quote last">
            <blockquote>"An amazing quote would go here.  Something flattering."</blockquote>
            <div class="cite"><img src="images/logo-wired.png" alt="Wired" /></div>
          </div>
        </div>
      </div>
      -->

        <section class="section white-panel watch">
            <h3 ng-bind-template="{{'HOW_LANTERN_WORKS' | translate}}">How Lantern Works</h3>
            <p ng-bind-template="{{'LANTERN_PARAGRAPH_1' | translate}}">Lantern's main goal is...</p>
            <p ng-bind-template="{{'LANTERN_PARAGRAPH_2' | translate}}">At the core of Lantern is...</p>
            <!--
            <div class="input-append">
                <input type="email" name="EMAIL" ng-model="email" required spellcheck="false"
                    ng-pattern="/[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}/"
                    class="input-xlarge" placeholder="email@example.com">
                <input type="submit" name="subscribe" class="btn btn-inverse"
                    ng-disabled="signupForm.$invalid"
                    value="+">
            </div>
            -->
            <img class="app-screenshot" src="images/vis.gif">

            <div id="faq" class="clearfix" ng-controller="DownloadCtrl">
              <h3 ng-bind-template="{{'QUESTIONS_AND_ANSWERS' | translate}}">Questions and Answers</h3>
                <ul>
                    <li class="clearfix">
                        <button ng-click="faq1=!faq1" class="pull-left">{{faq1 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                          <a ng-click="faq1=!faq1"><h5 ng-bind-template="{{'SAFE_TO_USE_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq1" class="faq-answer">
                                <p ng-bind-html-unsafe="'SAFE_TO_USE_ANSWER_1' | translate"></p>
                                <p ng-bind-html-unsafe="'SAFE_TO_USE_ANSWER_2' | translate"></p>
                                <p ng-bind-template="{{'SAFE_TO_USE_ANSWER_3' | translate}}"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq2=!faq2" class="pull-left">{{faq2 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq2=!faq2"><h5 ng-bind-template="{{'CANT_REACH_USERS_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq2" class="faq-answer">
                              <p ng-bind-html-unsafe="'CANT_REACH_USERS_ANSWER_1' | translate"></p>
                              <p ng-bind-template="{{'CANT_REACH_USERS_ANSWER_2' | translate}}"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq3=!faq3" class="pull-left">{{faq3 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq3=!faq3"><h5 ng-bind-template="{{'COMPARE_TO_OTHER_TOOLS_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq3" class="faq-answer">
                                <p ng-bind-html-unsafe="'COMPARE_TO_OTHER_TOOLS_ANSWER_1' | translate"></p>
                                <p ng-bind-template="{{'COMPARE_TO_OTHER_TOOLS_ANSWER_2' | translate}}"></p>
                                <p ng-bind-template="{{'COMPARE_TO_OTHER_TOOLS_ANSWER_3' | translate}}"></p>
                                <p ng-bind-html-unsafe="'COMPARE_TO_OTHER_TOOLS_ANSWER_4' | translate"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq4=!faq4" class="pull-left">{{faq4 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq4=!faq4"><h5 ng-bind-template="{{'PROXY_BY_DEFAULT_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq4" class="faq-answer">
                                <p ng-bind-template="{{'PROXY_BY_DEFAULT_ANSWER_1' | translate}}"></p>
                                <p ng-bind-template="{{'PROXY_BY_DEFAULT_ANSWER_2' | translate}}"></p>
                            </div>
                        </div>
                    </li>
                    <li  class="clearfix">
                        <button ng-click="faq5=!faq5" class="pull-left">{{faq5 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq5=!faq5"><h5 ng-bind-template="{{'TRUST_NETWORK_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq5" class="faq-answer">
                                <p ng-bind-template="{{'TRUST_NETWORK_ANSWER_1' | translate}}"></p>
                                <p ng-bind-html-unsafe="'TRUST_NETWORK_ANSWER_2' | translate"></p>
                                <p ng-bind-template="{{'TRUST_NETWORK_ANSWER_3' | translate}}"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq6=!faq6" class="pull-left">{{faq6 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                          <a ng-click="faq6=!faq6"><h5 ng-bind-template="{{'DOWNLOAD_LANTERN_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq6" class="faq-answer">
                                <p ng-bind-template="{{'DOWNLOAD_LANTERN_ANSWER' | translate}}"></p>
                                <div class="input-append">
                                  <form novalidate name="signupForm" method="POST" ng-submit="handleSignup()" signup-form>
                                    <input type="hidden" name="_charset_">
                                    <input type="email" name="EMAIL" ng-model="email" required spellcheck="false"
                                        ng-pattern="/[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}/"
                                        class="input-xlarge" placeholder="email@example.com">
                                    <input type="submit" name="subscribe" class="btn btn-inverse"
                                        ng-disabled="signupForm.$invalid"
                                        value="+">
                                  </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq7=!faq7" class="pull-left">{{faq7 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq7=!faq7"><h5 ng-bind-template="{{'CAN_I_STILL_HELP_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq7" class="faq-answer">
                                <p ng-bind-html-unsafe="'CAN_I_STILL_HELP_ANSWER_1' | translate"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq8=!faq8" class="pull-left">{{faq8 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq8=!faq8"><h5 ng-bind-template="{{'INSTALLED_LANTERN_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq8" class="faq-answer">
                                <p ng-bind-template="{{'INSTALLED_LANTERN_ANSWER_1' | translate}}"></p>
                                <ol style="font-weight: bold">
                                    <li>
                                        <p ng-bind-template="{{'INSTALLED_LANTERN_ANSWER_2' | translate}}"></p>
                                    </li>
                                    <li>
                                        <p ng-bind-template="{{'INSTALLED_LANTERN_ANSWER_3' | translate}}"></p>
                                    </li>
                                </ol>
                                <p ng-bind-html-unsafe="'INSTALLED_LANTERN_ANSWER_4' | translate"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq9=!faq9" class="pull-left">{{faq9 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq9=!faq9"><h5 ng-bind-template="{{'VULNERABLE_TO_HACKERS_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq9" class="faq-answer">
                                <p ng-bind-template="{{'VULNERABLE_TO_HACKERS_ANSWER' | translate}}"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq10=!faq10" class="pull-left">{{faq10 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq10=!faq10"><h5 ng-bind-template="{{'IS_LANTERN_FREE_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq10" class="faq-answer">
                                <p ng-bind-html-unsafe="'IS_LANTERN_FREE_ANSWER_1' | translate"></p>
                                <p ng-bind-template="{{'IS_LANTERN_FREE_ANSWER_2' | translate}}"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq11=!faq11" class="pull-left">{{faq11 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq11=!faq11"><h5 ng-bind-template="{{'CONTRIBUTE_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq11" class="faq-answer">
                                <p ng-bind-html-unsafe="'CONTRIBUTE_ANSWER_1' | translate"></p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button ng-click="faq12=!faq12" class="pull-left">{{faq12 && '+' || '-'}}</button>
                        <div class="faq-item pull-left">
                            <a ng-click="faq12=!faq12"><h5 ng-bind-template="{{'MORE_QUESTIONS_QUESTION' | translate}}"></h5></a>
                            <div ng-hide="faq12" class="faq-answer">
                                <p ng-bind-html-unsafe="'MORE_QUESTIONS_ANSWER_1' | translate"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
      <!--
      <section class="section white-panel demo">
        <h1 class="section-title">Over a billion people live without a complete Internet</h1>
        <p>Help fight firewalls.  Lantern is a free program that gives<br /> people access in places where access is denied.</p>
        <hr />
        <div class="demo-screen">
          <h2 class="screen-caption">Lantern in Action</h2>
          <img src="images/screenshot.jpg" alt="Lantern in Action" />
        </div>
      </section>
      -->

      <!-- for http://compass-style.org/reference/compass/layout/sticky_footer/ -->
      <div id="root_footer"></div>
    </div>

    <footer id="footer" class="footer">
      <div class="constrained">

        <div class="footer-logo">
          <img src="images/lantern-footer-logo.jpg" alt="Lantern" />
        </div>

        <nav class="footer-links">
          <ul id="footer-navlink-list">
            <li><a target="_blank" ng-href="{{FORUMS_URL}}" ng-bind-template="{{'FORUMS' | translate}}">Forums</a></li>
            <li><a target="_blank" ng-href="{{DOCS_URL}}" ng-bind-template="{{'DOCS' | translate}}">Docs</a></li>
            <li><a target="_blank" ng-href="{{GET_INVOLVED_URL}}" ng-bind-template="{{'GET_INVOLVED' | translate}}">Get Involved</a></li>
          </ul>
        </nav>

        <nav class="footer-links">
          <!-- XXX DRY .social-media-icons in header -->
          <ul class="social-media-icons">
            <li><a target="_blank" ng-href="{{TWITTER_URL}}" target="_blank"><span class="icon-twitter"></span></a></li>
            <li><a target="_blank" ng-href="{{FACEBOOK_URL}}" target="_blank"><span class="icon-facebook"></span></a></li>
            <li><a target="_blank" ng-href="{{TUMBLR_URL}}" target="_blank"><span class="icon-tumblr"></span></a></li>
            <li class="github"><a target="_blank" ng-href="{{GITHUB_URL}}" target="_blank"><span class="icon-github"></span></a></li>
            <!--
            <li><a target="_blank" ng-href="{{GOOGLEPLUS_URL}}" target="_blank"><span class="icon-googleplus"></span></a></li>
            <li><a target="_blank" ng-href="{{YOUTUBE_URL}}" target="_blank"><span class="icon-youtube"></span></a></li>
            -->
          </ul>
        </nav>

        <div class="copyright">
          <p ng-bind-template="{{'COPYRIGHT' | translate}}">© 2013 Brave New Software</p>
        </div>
    </footer>
    <!-- site content ends here -->

    <script>
      window.session = {
        options: {
          gapi_location: false
        }
        /*
        ,start: function (session) {
          console.debug('session:', session);
        }*/
      };
    </script>

    <!-- these get automatically minified and concatenated at build time -->
    <!-- build:js scripts/loadlast.js -->
    <script src="bower_components/session.js/session.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-google-analytics/src/angular-google-analytics.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/controllers/download.js"></script>
    <script src="scripts/directives/signup.js"></script>
    <script src="scripts/directives/videoOnClick.js"></script>
    <script src="scripts/services/osSniffer.js"></script>
    <script src="scripts/services/installerDataFetcher.js"></script>
    <!-- generated by "grunt jsFromJSON"; populates window.translations with data from locale/*.json -->
    <script src="scripts/jsFromJSON/translations.js"></script>
    <!-- endbuild -->
  </body>
</html>
