<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" id="ng-app" ng-app="lantern_www"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" id="ng-app" ng-app="lantern_www"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" id="ng-app" ng-app="lantern_www"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" id="ng-app" ng-app="lantern_www"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title ng-bind-template="{{'LANTERN' | translate}}">Lantern</title>
        <meta name="description" content="Defeat internet censorship. Give or get access to the open internet by sharing connections through your social network." ng-attr-content="{{'META_DESC' | translate}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png" />

        <!-- build:css({.tmp,app}) styles/main.css -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/loadfirst.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 8]>
          <p class="chromeframe">You are using an outdated browser. Please <a href="https://www.google.com/chrome/">upgrade your browser</a> or <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> and try again.</p>
        <![endif]-->

        <!--[if lt IE 9]>
          <script src="bower_components/es5-shim/es5-shim.min.js"></script>
          <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- uncomment out to enable firebug lite (useful for IE)
          <script src="http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"></script>
        -->

<noscript>
<div lang="en" dir="ltr">JavaScript is required.</div>
<div lang="zh_CN" dir="ltr">需要启用JavaScript。</div>
<div lang="fa_IR" dir="rtl">جاوا اسکریپت مورد نیاز است.</div>
<div lang="ar" dir="rtl">مطلوب جافا سكريبت.</div>
</noscript>

<div class="ng-cloak" lang="{{activeLang.code}}" dir="{{activeLang.dir}}">

        <!-- site content starts here -->
        <section class="header-spacer">

        </section>
        <div class="lightbox hide" lightbox>
            <a class="lightbox-close" lightbox-close>&times;</a>
            <div class="media-container" id="player"></div>
        </div>
        <div id="content-container">
            <header id="topbar" class="header sticky" ng-init="isCollapsed = true">
                <div id="logo-header" class="clearfix" scroll-class="small" offset="1">
                    <div class="site-logo clearfix">
                        <a href="/" class="clearfix">
                            <img src="images/lantern-header-logo-scaled.png" alt="Lantern" />
                        </a>
                    </div>
                    <nav class="languages" ng-show="NLANGS > 1">
                        <ul class="navlink-list lang-list" dir="ltr">
                            <li>
                                <a class="active-lang">{{activeLang.name}}</a>
                            </li>
                            <li role="presentation" class="ng-scope">
                                <a role="menuitem" ng-href="#en_US" ng-class="{'hidden': activeLang.code == 'en_US'}" ng-click="changeLang('en_US')" class="lang ng-binding" href="#en_US">English</a>
                            </li>
                            <li role="presentation" class="ng-scope">
                                <a role="menuitem" ng-href="#fa_IR" ng-class="{'hidden': activeLang.code == 'fa_IR'}" ng-click="changeLang('fa_IR')" class="lang ng-binding" href="#fa_IR">فارسی</a>
                            </li>
                            <li role="presentation" class="ng-scope">
                                <a role="menuitem" ng-href="#zh_CN" ng-class="{'hidden': activeLang.code == 'zh_CN'}" ng-click="changeLang('zh_CN')" class="lang ng-binding" href="#zh_CN">中文</a>
                            </li>
                            <li class="dropdown">
                                <a ng-click="isCollapsed = !isCollapsed">
                                    <b ng-bind-template="{{'MORE' | translate}}">More </b><span class="caret"></span>
                                </a>
                                <ul collapse="isCollapsed" class="menu" role="menu">
                                    <li ng-repeat="lang in LANGS" role="presentation">
                                        <a role="menuitem" ng-href="#{{lang.code}}" ng-class="{'active-lang': lang.code == activeLang.code}" ng-click="changeLang(lang.code)" class="lang">{{lang.name}}</a>
                                    </li>
                                    <li>
                                        <strong><a ng-href="{{HELP_TRANSLATE_URL}}" target="_blank" ng-bind-template="{{'HELP_TRANSLATE' | translate}}">
                                            Help Translate
                                        </a></strong>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="header-nav" class="clearfix">
                    <nav class="section-nav">
                        <ul class="section-list">
                            <li><a href="#about" ng-bind-template="{{'ABOUT' | translate}}">About</a></li>
                            <li><a href="#faq" ng-bind-template="{{'FAQ' | translate}}">FAQ</a></li>
                            <li><a href="/blog/index.html" ng-bind-template="{{'BLOG' | translate}}">Blog</a></li>
                            <li><a href="https://rally.org/getlantern" target="_blank" ng-bind-template="{{'DONATE' | translate}}">Donate</a></li>
                        </ul>
                    </nav>
                    <nav class="social-media">
                        <!-- XXX DRY .social-media-icons in header -->
                        <ul class="social-media-icons">
                            <li><a target="_blank" ng-href="{{TWITTER_URL}}"><span class="icon-twitter"></span></a></li>
                            <li><a target="_blank" ng-href="{{FACEBOOK_URL}}"><span class="icon-facebook"></span></a></li>
                            <li><a target="_blank" ng-href="{{TUMBLR_URL}}"><span class="icon-tumblr"></span></a></li>
                            <li><a target="_blank" ng-href="{{GITHUB_URL}}"><span class="icon-github"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section class="section download" ng-controller="DownloadCtrl">
                <div id="about" class="clearfix">
                    <div class="download-text">
                        <h3 ng-bind-template="{{'WHAT_IS_LANTERN' | translate}}">What is Lantern?</h3>
                    </div>
                    <div class="video-panel">
                        <img class="video-snapshot" src="images/video-snapshot.jpg" video-on-click>
                        <img class="play-button" src="images/play-button.png" video-on-click>
                        <div id="video"></div>
                    </div>
                    <div class="download-text">
                        <p ng-bind-template="{{'LANTERN_DESCRIPTION_1' | translate}}">Lantern is an international network...</p>
                        <p ng-bind-template="{{'LANTERN_DESCRIPTION_2' | translate}}">Through our new peer-to peer censorship circumvention software...</p>
                        <p ng-bind-template="{{'LANTERN_DESCRIPTION_3' | translate}}">Together, ...</p>
                    </div>
                </div>
            </section>
            <section class="section signup">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup" controller="SignupCtrl">
                    <form action="http://getlantern.us2.list-manage1.com/subscribe/post?u=0ac18298d5d0330dcda8f48aa&amp;id=15830df463" method="POST" id="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate name="signupForm">
                        <h3 ng-bind-template="{{'EMAIL_SIGNUP' | translate}}">Sign up here</h3>
                        <div class="lantern-form-section">
                            <h5><span>1.</span><p ng-bind-template="{{'EMAIL_CHOOSE_OPTION' | translate}}">Choose one option:</p></h5>
                            <div class="mc-field-group input-group select-options">
                                <ul class="newsletter">
                                    <li><input type="radio" value="4" name="group[16517]" id="mce-group[16517]-16517-0"><label for="mce-group[16517]-16517-0" ng-bind-template="{{'EMAIL_WAITLIST_NEWSLETTER' | translate}}">Invitation waitlist &amp; newsletter</label></li>
                                    <li><input type="radio" value="8" name="group[16517]" id="mce-group[16517]-16517-1"><label for="mce-group[16517]-16517-1" ng-bind-template="{{'EMAIL_NEWSLETTER_ONLY' | translate}}">Newsletter only</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lantern-form-section">
                            <h5><span>2.</span><p ng-bind-template="{{'EMAIL_CHOOSE_OPTION' | translate}}">You are in a...</p></h5>
                            <div class="mc-field-group input-group select-options">
                                <ul>
                                    <li><input type="radio" value="1" name="group[16513]" id="mce-group[16513]-16513-0"><label for="mce-group[16513]-16513-0" ng-bind-template="{{'EMAIL_CENSORED' | translate}}">Censored region</label></li>
                                    <li><input type="radio" value="2" name="group[16513]" id="mce-group[16513]-16513-1"><label for="mce-group[16513]-16513-1" ng-bind-template="{{'EMAIL_UNCENSORED' | translate}}">Uncensored region</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lantern-form-section">
                            <h5><span>3.</span><p ng-bind-template="{{'EMAIL_INPUT' | translate}}">Enter your e-mail address:</p></h5>
                            <div class="mc-field-group input-group input-append">
                                <input type="email" value="" name="EMAIL" class="required email input-xlarge form-control" id="mce-EMAIL" ng-model="email" required spellcheck="false"
                                    ng-pattern="/[a-zA-Z0-9._%+-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}/" placeholder="email@example.com">
                                <span class="input-group-btn">
                                    <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0ac18298d5d0330dcda8f48aa_15830df463" value="+"></div>
                                    <input type="submit" name="subscribe"  id="mc-embedded-subscribe" class="btn btn-inverse"
                                        ng-disabled="signupForm.$invalid"
                                        value="+">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="section watch clearfix">
                <div class="watch-text">
                    <h3 ng-bind-template="{{'HOW_LANTERN_WORKS' | translate}}">How Lantern Works</h3>
                </div>
                <div class="app-screenshot">
                    <img src="images/vis.gif">
                    <p ng-bind-template="{{'LANTERN_CAPTION' | translate}}">Lantern users all over the world giving and getting access.</p>
                </div>
                <div class="watch-text">
                    <p ng-bind-template="{{'LANTERN_PARAGRAPH_1' | translate}}">Lantern's main goal is...</p>
                    <p ng-bind-template="{{'LANTERN_PARAGRAPH_2' | translate}}">At the core of Lantern is...</p>
                </div>
            </section>
            <section class="section faq clearfix">
                <div id="faq" class="clearfix" ng-controller="DownloadCtrl">
                    <a name="faq" class="section-target">
                        <h3 ng-bind-template="{{'QUESTIONS_AND_ANSWERS' | translate}}">Questions and Answers</h3>
                    </a>
                    <ul>
                        <li class="clearfix" ng-repeat="faq in faqs.slice(0,5)">
                            <button ng-click="faq.expanded=!faq.expanded" class="expander">{{!faq.expanded && '+' || '-'}}</button>
                            <div class="faq-item">
                                <a name="faq_{{faq.key|lowercase}}"
                                    ng-click="faq.expanded=!faq.expanded"><h4 ng-bind-template="{{faq.key + '_QUESTION' | translate}}"></h4></a>
                                <a class="faq-permalink" ng-href="#faq_{{faq.key|lowercase}}"><h4>¶</h4></a>
                                <div collapse="!faq.expanded" class="faq-answer">
                                    <p ng-repeat="i in range(1, faq.nparagraphs)">
                                       <span ng-bind-html="faq.key + '_ANSWER_' + i | translate"></span>
                                    </p>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div ng-init="isCollapsed = true">
                        <ul class="more_questions" collapse="isCollapsed">
                            <li class="clearfix" ng-repeat="faq in faqs.slice(5,15)">
                                <button ng-click="faq.expanded=!faq.expanded" class="expander">{{!faq.expanded && '+' || '-'}}</button>
                                <div class="faq-item">
                                    <a name="faq_{{faq.key|lowercase}}"
                                        ng-click="faq.expanded=!faq.expanded"><h4 ng-bind-template="{{faq.key + '_QUESTION' | translate}}"></h4></a>
                                    <a class="faq-permalink" ng-href="#faq_{{faq.key|lowercase}}"><h4>¶</h4></a>
                                    <div collapse="!faq.expanded" class="faq-answer">
                                        <p ng-repeat="i in range(1, faq.nparagraphs)">
                                           <span ng-bind-html="faq.key + '_ANSWER_' + i | translate"></span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a ng-bind-template="{{'MORE_QUESTIONS' | translate}}" class="faq-link" ng-click="isCollapsed = !isCollapsed" ng-show="isCollapsed">More Questions and Answers</a>
                        <a ng-bind-template="{{'LESS_QUESTIONS' | translate}}" class="faq-link" ng-click="isCollapsed = !isCollapsed" ng-hide="isCollapsed">Fewer Questions and Answers</a>
                    </div>
                </div>
            </section>

            <!-- for http://compass-style.org/reference/compass/layout/sticky_footer/ -->
            <div id="root_footer"></div>
        </div>

        <footer id="footer" class="footer">
            <div class="wrap clearfix">
                <nav class="clearfix">
                    <ul class="navlink-list main-nav">
                        <li><a target="_blank" ng-href="{{valByLang(FORUMS_URLS)}}" ng-bind-template="{{'FORUMS' | translate}}">Forums</a></li>
                        <li><a ng-href="{{DOCS_URL}}" ng-bind-template="{{'DOCS' | translate}}">Docs</a></li>
                        <li><a target="_blank" ng-href="{{PRIVACY_URL}}" ng-bind-template="{{'PRIVACY' | translate}}">Privacy</a></li>
                        <li><a target="_blank" ng-href="{{GET_INVOLVED_URL}}" ng-bind-template="{{'GET_INVOLVED' | translate}}">Get Involved</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    <div ng-controller="CensoredPopupCtrl" ng-init="open('lg')">
    <script type="text/ng-template" id="censored.html">
    </script>
    </div>
    </div><!-- site content ends here -->

<script>
window.session = {options: {gapi_location: false}};
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
</script>

        <!-- these get automatically minified and concatenated at build time -->
        <!-- build:js scripts/loadlast.js -->
        <script src="bower_components/session.js/session.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-bootstrap/src/transition/transition.js"></script>
        <script src="bower_components/angular-bootstrap/src/collapse/collapse.js"></script>
        <script src="bower_components/angular-bootstrap/src/modal/modal.js"></script>
        <script src="bower_components/angular-bootstrap/src/dropdownToggle/dropdownToggle.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers/download.js"></script>
        <script src="scripts/controllers/popup.js"></script>
        <script src="scripts/directives/lightbox.js"></script>
        <script src="scripts/directives/signup.js"></script>
        <script src="scripts/directives/windowScroll.js"></script>
        <script src="scripts/directives/videoOnClick.js"></script>
        <script src="scripts/services/osSniffer.js"></script>
        <script src="scripts/services/installerDataFetcher.js"></script>
        <!-- generated by "grunt jsFromJSON"; populates window.translations with data from locale/*.json -->
        <script src="scripts/jsFromJSON/translations.js"></script>
        <!-- endbuild -->

    </body>
</html>
